@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 220, 98%, 61%;
    --background: 0, 0%, 98%;
    --foreground: 0, 0%, 100%;
    --input: 235, 19%, 35%;
    --input-muted: 236, 9%, 61%;
    --muted: 233, 11%, 84%;
    --muted-foreground: 236, 9%, 61%; 
    --border: 236, 33%, 92%;
  }

  .dark {
    --background: 235, 21%, 11%;
    --foreground: 235, 24%, 19%;
    --input: 234, 39%, 85%; 
    --input-muted: 234, 11%, 52%;
    --muted: 233, 14%, 35%;
    --muted-foreground: 234, 11%, 52%;
    --border: 237, 14%, 26%;
  }

  html {
    font-family: 'Josefin Sans', sans-serif;
  }

  body {
    @apply bg-background;
  }
}